<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome to the Todo App</h1>
  <p>This is the homepage.</p>
  <p><a href="/register">Register</a> or <a href="/login">Login</a></p>
</body>
</html>
